<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/answer.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans|Pacifico|Rokkitt" rel="stylesheet">
    <title>Answer a Slelp</title>
  </head>
  <body>
    <header>
      <div class="group-info">
        <form class="form-logo" action="/main" method="get">
          <button>
            <div id="logo">
              <h1>Slelp</h1>
            </div>
          </button>
        </form>
        <div class="group">
          <h1>Add an answer</h1>
        </div>
      </div>

      <div id="user-time-question">
        <div class="user-time">
          <div class="username">
            <h3>'username'</h3>
          </div>
          <div class="time">
            <h3>'time stamp'</h3>
          </div>
        </div>
        <div class="question">
          <h3>Q:</h3><h3 id="qTitle">I need help with javascript</h3>
        </div>
      </div>
    </header>

    <section>
      <form class="questionForm" action="/qa:id" method="post">
        <input class="problemTitle problemItems" type="string" name="title" placeholder="Give your answer a title...">

        <textarea  rows="10" class="problemDescription problemItems" type="text" name="body" placeholder="Add answer description here..."></textarea>

        <input class="problemLink problemItems"type="string" name="link" placeholder="Attach a link if needed">

        <input class="problemLink problemItems"type="string" name="link" placeholder="Attach a second link if needed">

        <button class="problemSubmit" type="submit">Submit Your Answer!</button>
      </form>
    </section>

    <footer>
      <div class="foot">
        <a href="https://github.com/Slelp/slelp"><h3>&copy;PFC, inc.</h3></a>
      </div>
    </footer>
  </body>
</html>
