<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/help.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans|Pacifico|Rokkitt" rel="stylesheet">
    <title>Slelp</title>
  </head>
  <body>
    <header>
      <div class="user-info">



        <!-- <form class="form-logo" action="/main" method="post">
          <button>
            <input type="text" style="display: none;" name="username" value="{{username}}">
            <input type="text" style="display: none;" name="password" value="{{password}}"> -->
            <a href="/helps">
            <div id="logo" class="form-logo">
              <h1>Slelp</h1>
            </a>

            <!-- </div>
          </button>
        </form> -->




        <div class="group">
          <h1>Create A Help</h1>
        </div>
      </div>
    </header>

    <section>

      <div class="user-time">
        <div class="username">
          <h3>{{username}}</h3>
        </div>
      </div>

      <form class="questionForm" action="/createHelp" method="post">
        <div class="title-categories">
          <input required id="problemTitle"class="problemItems" type="string" name="title" placeholder="Give your help a title...">

          <select id="category" class="problemItems" name="category">
            <option value="Misc">Select a Category</option>
            <option value="HTML">HTML</option>
            <option value="CSS">CSS</option>
            <option value="JavaScript">JavaScript</option>
            <option value="Express.js">Express.js</option>
            <option value="Node.js">Node.js</option>
          </select>
        </div>


        <textarea  required rows="10" class="problemDescription problemItems" type="text" name="body" placeholder="Describe your problem in detail"></textarea>
        <input class="problemLink problemItems"type="string" name="link" placeholder="Attach a link if needed">
        <input style="display:none;" name="user_id" value="{{user_id}}">
        <button class="problemSubmit" type="submit">Post Your Help Request!</button>
      </form>
    </section>

    <footer>
      <div class="foot">
        <a href="https://github.com/Slelp/slelp"><h3>&copy;PFC, inc.</h3></a>
      </div>
    </footer>
  </body>
</html>
