<!DOCTYPE html>
<html>
<<<<<<< HEAD

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="style.css">
  <title>Slelp</title>
</head>

<body>
  <main>

      <div id="info-login-container">
        <div id="info-container">
          <div class="description">
              <h4>Welcome to Slelp</h4>
              <h6>need to add a description of the app</h6>
          </div>
          <div class="github-links">

          </div>
        </div>

        <div id="login-container">
          <div id="logo">
            <h1>SLELP (LOGO)</h1>
          </div>

          <div class="login-create-box">
            <div class="create-form">
              <div class="title">
                <h2>Create Account</h2>
              </div>

              <form id="create" action="" method="post">

                  <input type="text" name="" placeholder="username">
                  <input type="text" name="" placeholder="password">
                  <input type="text" name="" placeholder="group code">

                <button type="submit" name="button">Create</button>
              </form>
            </div>

            <div class="login-form">
              <div class="title">
                <h2>Login</h2a>
              </div>
              <form id="login" action="" method="post">

                  <input type="text" name="" placeholder="username">
                  <input type="text" name="" placeholder="password">
                  <input type="text" name="" placeholder="group code">

                <button type="submit" name="button">Create</button>
              </form>

            </div>
          </div>
        </div>
      </div>

  </main>

</body>

=======
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
  </head>
  <body>
    <h1>This is working</h1>
    <h1>test</h1>
  </body>
>>>>>>> 0a7e6b5f81367b303ce987303635dead196e2c66
</html>
