<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href="https://fonts.googleapis.com/css?family=Droid+Sans|Pacifico|Rokkitt" rel="stylesheet">
  <title>Slelp</title>
</head>

<body>
  <header>
    <div id="info">
        <span class="arrow mobileInfo" style="font-size:2em;cursor:pointer" onclick="openNav()">i</span>
        <span class="arrow desktopInfo" onclick="openNav()">New?<br> Click here to learn more</span>
    </div>
  </header>

  <div id="mySidenav" class="sidenav">
    <a class="closebtn" onclick="closeNav()">&times;</a>
    <div id="info-container">

          <div class="description">
              <h5>Welcome to  </h5>
              <h3>  Slelp</h3>
              <ul>
                <li>
                  <h4>
                    What is slelp?
                  </h4>
                  <h6>
                    Slelp is a Slack App that is designed to allow teams quick and easy access to find answered questions, answer questions, and to request help on specific issues.
                  </h6>
                </li>
                  <li>
                    <h4>
                      What will Slelp do for me?
                    </h4>
                    <h6>
                      <ul>
                        <li>You can create and login to a team account</li>
                        <li>You can post new helps, or answer existing helps on your team's account</li>
                        <li>When you post helps or answers, your team will be notified via your Slack channel</li>
                      </ul>
                    </h6>
                  </li>
                <li>
                  <h4>
                    How do I start a group?
                  </h4>
                  <h6>
                    In order to create a group you will need to contact a Slelp member from the links below. If your organization already has a group set up, contact your administration to get your group code.
                  </h6>
                </li>

          </div>

          <div class="github-links">
            <div class="github-container">
              <img class="github-logo" src="/images/icon-github.png" alt="">
            </div>

            <div class="github-container">
                <a href="https://github.com/kylegibson15">
                  <img class="github" src="/images/githubimg-kyle.jpeg" alt="">
                </a>
            </div>

            <div class="github-container">
                <a href="https://github.com/kalaver8">
                  <img class="github" src="/images/githubimg-kelsey.jpeg" alt="">
                </a>
            </div>

            <div class="github-container">
                <a href="https://github.com/LukeRomberg">
                  <img class="github" src="/images/githubimg-luke.jpeg" alt="">
                </a>
            </div>

            <div class="github-container">
                <a href="https://github.com/xaishinn">
                  <img class="github" src="/images/githubimg-leo.jpeg" alt="">
                </a>
            </div>

            <div class="github-container">
                <a href="https://github.com/jordanreed23">
                  <img class="github" src="/images/githubimg-jordan.jpeg" alt="">
                </a>
            </div>

          </div>
        </div>
  </div>
  <main>

      <div id="container">
        <div id="login-container">
          <div id="logo">
            <h1>Slelp App</h1>
          </div>


          <div class="login-create-box">
            <div class="create-form">

              <button onclick="toggleCreateForm()" class="title">
                <h2>Create Account</h2>
                <span class="caret"></span>
              </button>

              <form id="create" class="hide" action="/" method="post" style="display: none;">
                  <input type="text" name="username" placeholder="username">
                  <input type="text" name="password" placeholder="password">
                  <input type="text" name="group_code" placeholder="group code">
                <button class="submit" type="submit" name="button">
                  Submit
                </button>

              </form>
            </div>

            <div class="login-form">
              <button  onclick="toggleLoginForm()" class="title">
                <h2>Login</h2>
                <span class="caret"></span>
              </button>

              <form id="login" class="hide" action="/main" method="post" style="display: none;">

                  <input type="text" name="username" placeholder="username">
                  <input type="text" name="password" placeholder="password">

                <button class="submit" type="submit" name="button">
                  Submit
                </button>
              </form>

            </div>
          </div>
        </div>
      </div>
  </main>

  <footer>
    <div class="foot">
      <a href="https://github.com/Slelp/slelp"><h3>&copy;PFC, inc.</h3></a>
    </div>
  </footer>
<script type="text/javascript" src="/javascript/index.js"></script>
</body>

</html>
