<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href="https://fonts.googleapis.com/css?family=Droid+Sans|Pacifico|Rokkitt" rel="stylesheet">
  <title>Slelp</title>
</head>

<body>
  <header>
    <div class="info">
      <div class="arrow">

      </div>
    </div>
  </header>
  <main>

      <div id="container">
        <div id="login-container">
          <div id="logo">
            <h1>Slelp</h1>
          </div>

          <div class="login-create-box">
            <div class="create-form">

              <button onclick="toggleCreateForm()" class="title">
                <h2>Create Account</h2>
                <span class="caret"></span>
              </button>

              <form id="create" class="hide" action="" method="post" style="display: none;">
                  <input type="text" name="" placeholder="username">
                  <input type="text" name="" placeholder="password">
                  <input type="text" name="" placeholder="group code">

                <button class="submit" type="submit" name="button">
                  Submit
                </button>

              </form>
            </div>

            <div class="login-form">

              <button onclick="toggleLoginForm()" class="title">
                <h2>Login</h2>
                <span class="caret"></span>
              </button>

              <form id="login" class="hide" action="" method="post" style="display: none;">

                  <input type="text" name="" placeholder="username">
                  <input type="text" name="" placeholder="password">

                <button class="submit" type="submit" name="button">
                  Submit
                </button>
              </form>

            </div>
          </div>
        </div>
      </div>
  </main>

  <footer>
    <div class="foot">
      <a href="https://github.com/Slelp/slelp"><h3>&copy;PFC, inc.</h3></a>
    </div>
  </footer>
<script type="text/javascript" src="/javascript/index.js">

</script>
</body>

</html>
<!-- <!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
  <title>Slelp</title>
</head>

<body>
  <main>

      <div id="info-login-container">
        <div id="info-container">
          <div class="description">
              <h4>Welcome to Slelp</h4>
              <h6>need to add a description of the app</h6>
          </div>
          <div class="github-links">
            <div class="github-container">
              <img class="github-logo" src="/images/icon-github.png" alt="">
            </div>
            <div class="github-container">
                <a href="https://github.com/kylegibson15">
                  <img class="github" src="/images/githubimg-kyle.jpeg" alt="">
                </a>
            </div>
            <div class="github-container">
                <a href="https://github.com/kalaver8">
                  <img class="github" src="/images/githubimg-kelsey.jpeg" alt="">
                </a>
            </div>
            <div class="github-container">
                <a href="https://github.com/LukeRomberg">
                  <img class="github" src="/images/githubimg-luke.jpeg" alt="">
                </a>
            </div>
            <div class="github-container">
                <a href="https://github.com/xaishinn">
                  <img class="github" src="/images/githubimg-leo.jpeg" alt="">
                </a>
            </div>
            <div class="github-container">
                <a href="https://github.com/jordanreed23">
                  <img class="github" src="/images/githubimg-jordan.jpeg" alt="">
                </a>
            </div>
          </div>

        </div>

        <div id="login-container">
          <div id="logo">
            <h1>SLELP (LOGO)</h1>
          </div>

          <div class="login-create-box">
            <div class="create-form">
              <div class="title">
                <h2>Create Account</h2>
              </div>

              <form id="create" action="" method="post">

                  <input type="text" name="" placeholder="username">
                  <input type="text" name="" placeholder="password">
                  <input type="text" name="" placeholder="group code">

                <button type="submit" name="button">Create</button>
              </form>
            </div>

            <div class="login-form">
              <div class="title">
                <h2>Login</h2a>
              </div>
              <form id="login" action="" method="post">

                  <input type="text" name="" placeholder="username">
                  <input type="text" name="" placeholder="password">

                <button type="submit" name="button">Login</button>
              </form>

            </div>
          </div>
          <div class="foot-container">
            <div class="copy">
              <a href="https://github.com/Slelp/slelp"><h4>&copy;PFC, Inc.</h4></a>
            </div>
          </div>
        </div>
      </div>
  </main>

</body>

</html> -->
