<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>Slelp</title>
  </head>
  <body>
    <header>
      <div class="user-info">
        <h1>header</h1>
      </div>
      <div class="add-search-container">
        <div class="add-help">

        </div>
        <div class="search">

        </div>
      </div>

      <div class="container">

      </div>
    </header>
  </body>
</html>
