<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans|Pacifico|Rokkitt" rel="stylesheet">
    <title>Slelp</title>
  </head>
  <body>
    <header>
      <div class="user-info">
        <div id="logo">
          <h1>S</h1>
        </div>
        <div class="group">

        </div>

      </div>

      <div id="add-search-container">
        <button class="add-help">
          <h1>Add Help +</h1>
        </button>
        <button class="search">
          <img class="search-img" src="/images/search-128.png" alt="">
        </button>
      </div>
    </header>

    <section>
      <div class="container">

        <a class="help-container">
          <div class="username">
            <h3>{{username}}</h1>
          </div>

          <div class="question-head">
            <h3>Q:{{question}}</h3>
          </div>

          <div class="solutions-answerbtn">
            <h5>Solutions: {{solutions}}</h5>
          </div>
        </a>

      </div>
    </section>

    <footer>

    </footer>
  </body>
</html>
