<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="/stylesheets/main.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans|Pacifico|Rokkitt" rel="stylesheet">
    <title>Slelp</title>
  </head>
  <body>
    <header>
      <div class="user-info">
        <div id="logo">
          <h1>S</h1>
        </div>
        <div class="group">
          <h1>{{data}}</h1>
        </div>

      </div>

      <div id="add-search-container">
        <form class="form-help" action="/help" method="get">
          <button action="/help" method="get" class="add-help">
            <h1>Add Help +</h1>
          </button>
        </form>

        <form class="form-search" action="index.html" method="post">
          <button class="search">
            <img class="search-img" src="/images/search-128.png" alt="">
          </button>
        </form>

      </div>
    </header>

    <section>
      <div class="container">
        {{#each helps}}
        <form class="form-help-container" action="/qa" method="get">
          <button class="help-container">

            <div class="username-time">
              <div class="username">
                <h3>{{helpUser}}</h3>
              </div>

              <!-- <div class="timestamp">
                <h3></h3>
              </div> -->
            </div>


            <div class="question-head">
              <h3>Q:{{qTitle}}</h3>
            </div>

            <div class="solutions-answerbtn">
              <h5>Solutions: {{solution}}</h5>
            </div>
          </button>
        </form>
        {{/each}}
      </div>
    </section>

    <footer>

    </footer>
  </body>
</html>
