html,body{
  height: 100%;
}
body{
  height: 100vh;
  background-image: url('/images/Blue-Background-For-iPhone-5s-.jpg');
  background-size: cover;
  margin: 0;
  overflow: hidden;
  color: white;
  text-shadow: 2px 2px 8px #020A49;
  font-family: 'Rokkitt', serif;
}
header {
  display: flex;
  flex-flow: wrap;
  position: fixed;
  top: 0;
}
section{
  position: fixed;
  top: 19.5rem;
  bottom: 5rem;
  height: 77%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.group-info {
  width: 100vw;
  height: 45%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 5px solid white;
  margin-bottom: 1rem;
}
#logo{
  width: 33%;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #DD7016;
  font-family: 'Pacifico', cursive;
  font-size: 40px;
  text-shadow: 2px 2px white;
}
a {
  text-decoration: none;
}
.form-logo{
  margin-left: 6rem;
  margin-bottom: .5rem;
}
.group{
  width: 50%;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #212121;
  font-family: 'Rokkitt', serif;
  font-size: 30px;
  color: white;
  margin-top: .5rem;
}
#user-time-question {
  height: 45%;
  width: 100vw;
  align-self: flex-end;
  display: flex;
  justify-content: space-around;
  padding-bottom: 2rem;
  /*border: 2px solid black;*/
  display: flex;
  flex-direction: column;
}
.user-time{
  width: 100%;
  height: 40%;
  /*border: 2px solid red;*/
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.username{
  width: 50%;
  /*border: 2px solid white;*/
  padding-left: 2rem;
}
.time{
  width: 50%;
  /*border: 2px solid white;*/
  display: flex;
  justify-content: flex-end;
  padding-right: 2rem;
}
.question{
  width: 100%;
  height: 60%;
  /*border: 2px solid blue;*/
  padding-left: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.question > h3{
  font-size: 60px;
  color: #DD7016;
  font-weight: bold;
  text-shadow: 2px 2px 8px black;
  font-family: 'Pacifico', cursive;
  margin-left: 1rem;
}
#qTitle{
  font-size: 60px;
  font-family: 'Rokkitt', serif;
  color: white;
  margin: 2rem;
  padding-top: 2rem;
}
h3 {
  font-size: 40px;
  margin: 0;
  margin-left: .5rem;
  font-family: 'Rokkitt', serif;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 5rem;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-flow: wrap;
  border: 1px solid black;
  background-color: #333;
  opacity: .8;
  border-top: 4px solid white;
}
.foot {
  padding-right: 2rem;
  padding-bottom: 1rem;
}
.foot > a {
  text-decoration: none;
  color: white;
  opacity: .5;
  font-size: 30px;
  font-family: 'Rokkitt', serif;
  letter-spacing: 2px;
}
.questionForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
  font-size: 50px;
}
.problemTitle{
  height: 5vh;
  /*margin: 5px;*/
  margin-bottom: 1.5rem;
}
.problemItems{
  background-color: rgba(0, 0, 0, .7);
  border: none;
  color: white;
  box-shadow: 0px 0px 25px black;
  font-size: 32px;
  /*margin: 15px;*/
  width: 85vw;
  padding: 1rem;
  /*margin-bottom: 2rem;*/
}
.problemItems::placeholder{
  color: white;
  padding-left: 5px;
  font-size: 2rem;
}
.problemDescription{
  height: 30vh;
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}
.problemLink{
  height: 6vh;
  margin: 5px;
  margin-bottom: 1.5rem;
}
.problemSubmit{
  height: 8vh;
  width: 80vw;
  margin: 5px;
  border-radius: 8px;
  background-color: #FFA159;
  border: none;
  box-shadow: 0px 0px 2px black;
  color: #0676A3;
  font-size: 80px;
  font-family:'Rokkitt', serif;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

@media only screen and (min-device-width: 737px){
body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-size: auto;
}
.logo :last-child{
    display: flex;
}
.logo{
    display: flex;
    flex-direction: row;
}
header{
    width: 100vw;
    display: flex;
    align-self: center;
    justify-content: center;
}
header h1 {
  margin: 0;
}
.s-logo{
    font-size: 110px;
}
.header-title{
    font-size: 60px;
}
.problemItems{
    font-size: 20px;
}
.problemTitle{
    width: 50vw;
}

.problemDescription{
    width: 50vw;
}

.problemLink{
    width: 50vw;
}

.problemSubmit{
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 30vw;
    font-size: 2.5rem;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 5rem;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-flow: wrap;
  border: 1px solid transparent;
  background-color: transparent;
  opacity: .8;
  border-top: 4px solid transparent;
}
.questionTitle{
  width: 50vw;
  font-size: 30px;
  margin-bottom: 20px;
}
.questionTitle :first-child{
  font-size: 80px;
}
}
