
  html,body{
    height: 100%;
  }
  body{
    height: 100vh;
    background-image: url('/images/Blue-Background-For-iPhone-5s-.jpg');
    background-size: cover;
    margin: 0;
    /*overflow: hidden;*/
  }
  header {
    position: fixed;
    top: 0;
    left: 0;
    height: 20rem;
    display: flex;
    flex-flow: wrap;
    overflow: hidden;
  }
  .user-info {
    width: 100vw;
    height: 45%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 5px solid white;
    margin-bottom: 1rem;
  }
  #logo{
    width: 33%;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #DD7016;
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    text-shadow: 2px 2px 8px white;
  }
  .group, .user {
    width: 33%;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #212121;
    font-family: 'Rokkitt', serif;
    font-size: 30px;
    color: white;
  }
  #add-search-container {
    height: 45%;
    width: 100vw;
    align-self: flex-end;
    display: flex;
    justify-content: space-around;
    padding-bottom: 2rem;
  }
  .form-help, .form-search{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .add-help > h1 {
    font-size: 40px;
    font-family: 'Rokkitt';
  }
  .add-help, .search {
    height: 100%;
    width: 80%;
    border: .5px solid black;
    border-radius: 20px;
    background-color: #D98324;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 15px #212121;
  }
  .search-img {
    height: 5rem;
    width: 5rem;
  }
  section{
    position: relative;
    top: 20rem;
    bottom: 5rem;
    height: 77%;
    width: 100%;
    margin: 0;
    overflow-y: scroll;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
  }
  .form-help-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .help-container {
    width: 90%;
    height:15rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    /*align-items: flex-start;*/
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 15px black;
    flex-wrap: wrap;
    margin: .5rem;
    margin-top: 3rem;
    padding: 1rem;
    border-radius: 10px;
    color: white;
    border-color: transparent;
  }
  .username-time{
    width: 80vw;
    display: flex;
    justify-content: space-between;
  }
  .solutions-answerbtn {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .answer-solutions{
    width: 50%;
  }
  a{
    font-size: 32px;
    /*border: 1px solid black;*/
    border-radius: 15px;
    background-color: orange;
    text-align: center;
  }
  h3 {
    font-size: 40px;
    margin: 0;
    margin-left: .5rem;
    font-family: 'Rokkitt';
  }
  h5 {
    font-size: 35px;
    margin: 0;
    margin-left: .5rem;
    font-family: 'Rokkitt';
  }
  .username {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
  }
  .question-head {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 5rem;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-flow: wrap;
    border: 1px solid black;
    background-color: #333;
    opacity: .8;
    border-top: 4px solid white;
  }
  .foot {
    padding-right: 2rem;
    padding-bottom: 1rem;
  }
  .foot > a {
    text-decoration: none;
    color: white;
    opacity: .5;
    font-size: 30px;
    font-family: 'Rokkitt', serif;
    letter-spacing: 2px;
  }

@media only screen and (min-device-width: 737px) {

}
