

html,body{
  height: 100%;
}
body{
  height: 100vh;
  background-image:url('/images/Blue-Background-For-iPhone-5s-.jpg');
  background-size: cover;
  margin: 0;
  /*overflow: hidden;*/
}
header {
  position: fixed;
  top: 0;
  left: 0;
  height: 20rem;
  display: flex;
  flex-flow: wrap;
  overflow: hidden;
}
.user-info {
  width: 100vw;
  height: 45%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 5px solid white;
  margin-bottom: 1rem;
}
#logo{
  width: 33%;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #DD7016;
  font-family: 'Pacifico', cursive;
  font-size: 40px;
  text-shadow: 2px 2px white;
}
.form-logo{
  margin-left: 6rem;
  margin-bottom: .5rem;
}
.group, .user {
  width: 33%;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #212121;
  font-family: 'Rokkitt', serif;
  font-size: 30px;
  color: white;
}
#add-search-container {
  height: 45%;
  width: 100vw;
  align-self: flex-end;
  display: flex;
  justify-content: space-around;
  padding-bottom: 2rem;
}
.form-help, .form-search{
  width: 48%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.8s;
}
.add-help > h1 {
  font-size: 50px;
  font-family: 'Rokkitt';
}
.add-help, .search {
  height: 100%;
  width: 100%;
  border: .5px solid black;
  border-radius: 10px;
  background-color: #D98324;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
#search-bar {
  display: none;
  width: 100%;
  font-size: 4em;
  background: transparent;
  border: none;
  color: white;
  padding-left: .5em;
}
input:focus {
  outline: none;
}
.search-img {
  height: 7.5rem;
  width: 7.5rem;
}
section{
  position: relative;
  top: 20rem;
  bottom: 5rem;
  height: 77%;
  width: 100%;
  margin: 0;
  margin-top: 1rem;
  overflow-y: scroll;
}
.container {
  display: flex;
  flex-flow: wrap;
}
.form-help-container{
  width: 50vw;
  height: 50vw;
  display: flex;
}
.container > :nth-child(4n+1){
  background-color: rgba(0, 0, 0, .5);
}
.container > :nth-child(4n+4){
  background-color: rgba(0, 0, 0, .5);
}
.help-container {
  width: 50vw;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  flex-wrap: wrap;
  color: white;
}
.username-time{
  display: flex;
  justify-content: space-between;
}
.solutions-answerbtn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
a{
  font-size: 32px;
  text-decoration: none;
  border-radius: 15px;
  text-align: center;
}
h3 {
  font-size: 40px;
  margin: 0;
  margin-left: .5rem;
  font-family: 'Rokkitt';
}
h5 {
  font-size: 35px;
  margin: 0;
  margin-left: .5rem;
  font-family: 'Rokkitt';
}
.username {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
}
.question-head {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 5rem;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-flow: wrap;
  border: 1px solid black;
  background-color: #333;
  opacity: .8;
  border-top: 4px solid white;
}
.foot {
  padding-right: 2rem;
  padding-bottom: 1rem;
}
.foot > a {
  text-decoration: none;
  color: white;
  opacity: .5;
  font-size: 30px;
  font-family: 'Rokkitt', serif;
  letter-spacing: 2px;
}
@media only screen and (min-device-width: 737px) {
  #add-search-container{
    height: 65%;
    padding: 0;
  }
  .search{
    width: 30%;
    height: 5rem;
  }
  .add-help{
    width: 30%;
    height: 5rem;
  }
  .add-help > h1{
    font-size: 35px;
    border: 0;
    margin: 0;
  }
  .user-info{
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  section{
    top: 10rem;
  }
  header{
    height: 10rem;
  }
  footer{
    background-color: rgba(0, 0, 0, 0.0);
    border: 0;
  }
  footer h3{
    text-shadow: 0px 0px 10px black;
  }
  .search-img{
    height: 3rem;
    width: 3rem;
  }
  .help-container{
    height: 8rem;
    width: 70vw;
  }
  .mobileSearchContainer{
    display: none;
  }
  .DesktopSearchContainer{
    display: flex !important;
  }
}
