@media only screen and (max-device-width: 736px) {
  body{
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-image: url('/images/Blue-Background-For-iPhone-5s-.jpg');
    background-size: cover;
  }
  footer {
    position: fixed;
    width: 100vw;
    height: 8rem;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .foot {
    padding-right: 2rem;
  }
  .foot > a {
    text-decoration: none;
    color: white;
    opacity: .5;
    font-size: 30px;
    font-family: 'Rokkitt', serif;
    letter-spacing: 2px;
  }
  #container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
  }
  .info{
    height: 8rem;
    width: 8rem;
    background-color: #333;
    position: fixed;
    top: 0;
    opacity: .5;
    font-size: 28px;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .info:hover {
    box-shadow: 2px 2px 5px white;
  }
  .arrow{
    width: 3rem;
    height: 3rem;
    border-right: 5px solid white;
    border-bottom: 5px solid white;
    margin: 2rem;
  }
  #login-container {
    display: flex;
    flex-flow: wrap;
    width: 90vw;
  }
  #logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #DD7016;
    font-family: 'Pacifico', cursive;
    font-size: 60px;
    text-shadow: 2px 2px 8px white;
  }
  .login-create-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
  }
  .login-form, .create-form {
    display: flex;
    flex-flow: wrap;
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 7rem;
    border: 1px solid #212121;
    margin-top: .5rem;
    margin-bottom: .5rem;
    border-radius: 14px;
    font-size: 40px;
    background-color: #FFA159;
    color: #0676A3;
    font-family: 'Rokkitt', serif;
  }
  .title:hover {
    background-color: #D98324;
    color: white;
  }
  #create, #login {
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
  }
  input {
    width: 100%;
    height: 4.5rem;
    border: 1px solid blue;
    margin-top: .5rem;
    margin-bottom: .5rem;
    padding-left: 1rem;
    font-size: 40px;
    font-family: 'Rokkitt', serif;
  }
  .error {
    font-size: 35px;
    color: white;
    padding: 0;
    margin: 0;
    font-family: 'Rokkitt', serif;
  }
  .submit {
    margin-top: .5rem;
    width: 50%;
    height: 5rem;
    border-radius: 16px;
    background-color: white;
    color: #0676A3;
    font-size: 40px;
    border-style: none;
    border: .5px solid white;
  }
  button > h2 {
    margin: 0;
    margin-right: 2rem;
    text-shadow: 2px 2px 8px white;
  }
  button > h2:hover {
    text-shadow: none;
  }
  .caret {
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    vertical-align: middle;
    border-top: 10px dashed;
    display: inline-block;
    width: 0;
    height: 0;
  }
}


/*#login-container {
  height: 95vh;
  width: 70vw;
  border: 2px solid blue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}*/

/*input {
  width: 90%;
  margin-top: 5%;
}

#logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#info-login-container {
  height: 100vh;
  width: auto;
  display: flex;
  align-items: flex-start;
}

#info-container {
  height: 95vh;
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  opacity: .8;
  color: white;
}


.login-create-box {
  width: 40vw;
  border: 2px solid blue;
  border-radius: 15px;
}

.title{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.login-form, .create-form {
  width: auto;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: wrap;
}

.login-form {
  border-top: 1px solid black;
}

#create, #login {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: wrap;
  margin-top: -20px;
}

button {
  margin: 15px;
  width: 90%;
  background-color: blue;
  border-style: none;
  border-radius: 4px;
  color: white;
}

footer {
  height: 5%;
  width: 100%;
}*/
