
  body{
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-image: url('/images/Blue-Background-For-iPhone-5s-.jpg');
    background-size: cover;
  }
  .desktopInfo{
    display: none !important;
  }
  footer {
    position: fixed;
    width: 100vw;
    height: 8rem;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .foot {
    padding-right: 2rem;
  }
  .foot > a {
    text-decoration: none;
    color: white;
    opacity: .5;
    font-size: 30px;
    font-family: 'Rokkitt', serif;
    letter-spacing: 2px;
  }
  #container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
  }
  #info {
    height: 8rem;
    width: 8rem;
    background-color: #333;
    position: fixed;
    top: 0;
    opacity: .5;
    font-size: 28px;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
  }
  #info:hover {
    box-shadow: 2px 2px 5px white;
  }
  .description > ul {
    list-style: none;
    font-size: 55px;
    padding: 0;
  }
  .description h5, h3{
    font-size: 70px;
    margin: 0;
  }
  .description h4{
    margin: 1rem;
    color: #D98324;
  }
  .description h6{
    margin: .5rem;
  }
  .arrow{
    width: 5rem;
    height: 4rem;
    /*padding: .2rem;*/
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    padding-bottom: 1rem;
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin: .5rem;
  }
  #login-container {
    display: flex;
    flex-flow: wrap;
    width: 90vw;
  }
  #logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #DD7016;
    font-family: 'Pacifico', cursive;
    font-size: 60px;
    text-shadow: 2px 2px 8px white;
  }
  .login-create-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
  }
  .login-form, .create-form {
    display: flex;
    flex-flow: wrap;
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 7rem;
    border: 1px solid #212121;
    margin-top: .5rem;
    margin-bottom: .5rem;
    border-radius: 14px;
    font-size: 40px;
    background-color: #FFA159;
    color: #0676A3;
    font-family: 'Rokkitt', serif;
  }
  .title:hover {
    background-color: #D98324;
    color: white;
  }
  #create, #login {
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    transition: 0.3s;
  }
  input {
    width: 100%;
    height: 4.5rem;
    border: 1px solid blue;
    margin-top: .5rem;
    margin-bottom: .5rem;
    padding-left: 1rem;
    font-size: 40px;
    font-family: 'Rokkitt', serif;
  }
  .error{
    font-size: 35px;
    color: white;
    padding: 0;
    margin: 0;
    font-family: 'Rokkitt', serif;
  }
  .submit {
    margin-top: .5rem;
    width: 50%;
    height: 5rem;
    border-radius: 16px;
    background-color: white;
    color: #0676A3;
    font-size: 40px;
    border-style: none;
    border: .5px solid white;
  }
  button > h2 {
    margin: 0;
    margin-right: 2rem;
    text-shadow: 2px 2px 8px white;
  }
  button > h2:hover {
    text-shadow: none;
  }
  .caret {
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    vertical-align: middle;
    border-top: 10px dashed;
    display: inline-block;
    width: 0;
    height: 0;
  }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  .sidenav a {
    padding: 25px 8px 8px 25px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  .sidenav a:hover {
    color: #f1f1f1;
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  #mySideNav {
    width: 80vw;
    height: auto;
  }
  #info-container {
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-flow: wrap;
  }
  .description {
    width: 100%;
    font-size: 40px;
    margin: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    font-family: 'Rokkitt', serif;
  }
  .description > h3 {
    font-family: 'Pacifico', cursive;
    padding-left: .8rem;
    letter-spacing: 2px;
  }
  .github-links{
    width: 100%;
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    padding-right: 2rem;
  }
  .github-logo {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    padding: 20px;
  }
  .github {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding: 2px;
    opacity: 1;
  }
  @media only screen and (min-device-width: 737px){
.desktopInfo{
  display: flex !important;
}
#login-container{
  display: flex;
  justify-content: center;
}
#logo{
  font-size: 40px;
}
#container{
  margin: 0;
}
.login-create-box{
  width: 40vw;
}
.create-form{
  display: flex;
  justify-content: center;
}
.login-form{
  display: flex;
  justify-content: center;
}
.title{
  height: 10vh;
  width: 50vw;
}
.title h2{
  font-size: 40px;
}
input{
  height: 5vh;
}
.mobileInfo{
  display: none;
}
.arrow{
  text-align: center;
  align-content: center;
  height: 12rem;
  width: 12rem;
  padding-bottom: 37px;
}
#info{
  height: 12rem;
  width: 12rem;
}
  }
